html,
body {
    background: #ecedf0;
    width: 100%;
    height: 100%;
}

html {
    /**overflow-x: hidden !important;
    overflow-y: scroll !important;**/
}

body {
    color: #777;
    font-family: "Open Sans", Arial, sans-serif;
    line-height: 22px;
    margin: 0;
    font-size: 13px;
}
a {
    color: $primary-color;
}
a:hover {
    color: lighten($primary-color, 5%);
}
a:active {
    color: darken($primary-color, 5%);
}
a:focus {
    color: lighten($primary-color, 5%);
}

.h2-logo {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    color: lighten($primary-color, 5%);
    margin-top: 0;
    padding-top: 0;
}

.pull-right {
    float: right !important;
}
.pull-left {
    float: left !important;
}
.heading-primary,
.lnk-primary,
.text-color-primary,
.text-primary {
    color: $primary-color !important;
}
.font-family-lobster {
    font-family: "Lobster", cursive !important;
}
.h-85 {
    height: 85% !important;
}
.hidden {
    display: none !important;
}
.overflow-y-auto {
    overflow-y: auto !important;
}
.text-zh {
    color: $primary-color;
}
.text-green-zh {
    color: $color-pj-green !important;
}
.font-weight-bold,
b,
strong {
    font-weight: 600 !important;
}
.h-8 {
    height: 8% !important;
}
.h-90 {
    height: 90% !important;
}
.h-92 {
    height: 92% !important;
}
.h-80 {
    height: 80% !important;
}
.h-10 {
    height: 10% !important;
}
.bg-zh {
    background: $primary-color !important;
    color: #fff !important;
}
.container-fluid {
    padding-top: 15px;
    padding-bottom: 15px;
}
.text-1 {
    font-size: 0.8em !important;
}
.list-style-none {
    list-style: none;
    margin: 0;
    padding: 0;
}
.badge {
    font-size: 11px;
}
.bg-yellow-zh {
    background: $color-zh-yellow !important;
    color: black !important;
}