// Select 2
.select2-container--bootstrap {
    .select2-results__option--highlighted[aria-selected] {
        background-color: $primary-color !important;
    }
    .select2-dropdown {
        border-color: lighten($primary-color, 20%) !important;
    }
}

.select2-container--bootstrap.select2-container--focus .select2-selection,
.select2-container--bootstrap.select2-container--open .select2-selection {
    border-color: lighten($primary-color, 20%) !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset,
        0 0 8px rgba(red($primary-color), green($primary-color), blue($primary-color), 0.6) !important;
}