.table > tbody > tr > td {
    vertical-align: middle !important;
}

///TABLE FIXED
.table-fixed tbody {
    height: 138px;
    overflow-y: auto;
    width: 100%;
}

.table-fixed thead,
.table-fixed tbody,
.table-fixed tr,
.table-fixed td,
.table-fixed th {
    display: block;
}

.table-fixed tbody td,
.table-fixed tbody th,
.table-fixed thead > tr > th {
    float: left;
    position: relative;

    &::after {
        content: "";
        clear: both;
        display: block;
    }
}

///pagination
.pagination-xs {
    padding: 0;
    margin: 0;
    li {
        a {
            padding: 6px 10px;
            font-size: 11px;
        }
    }
}